.collapsible-radio-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.collapsible-radio-group .collapsible-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.collapsible-radio-group .collapsible-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.collapsible-radio-group.expanded .collapsible-body {
    max-height: 1000px;
}

.collapsible-radio-group .collapsible-body>.content {
    padding: 0.5rem 0 0 0;
}